@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;

  --color-brand: #918164;
  --color-primary: #111c4e;
  --color-dark-600: #1c1c1c;
}
